<div class="container text-center">
  <h1>About PoochStagram</h1>
  <p>This is an Instagram inspired app, built with Ruby on Rails. PoochStagram Allows you to upload photos, with a name and a caption. It also allows you to make a post either public or private. Public posts are going to be visible by everyone and private posts are for your eyes only.</p>
  <br>
  <p>Users can create and edit their profiles. They can also upload an avatar that will be displayed on the top right corner of the navigation bar.</p>
  <p>Users can comment and like public as well as their private photos.</p>
  <p>Users can edit and delete their own posts anytime they want.</p>
  <br>
  <br>
  <br>
  <p>This is my second Rails web app. To see my other projects please check out my <a href="https://github.com/Economicsnerd/poochStagram">Github profile.</a></p>

</div>
