<div class="child-page-listing">

  <div class="grid-container" id="photos">
    <% @pooches.each do |pooch| %>
      <%= link_to pooch do %>
        <div class="pooch-listing">
          <p class="pooch-name"> <%= pooch.name%></p>
          <div class="pooch-photo">
             <%= cl_image_tag pooch.photo.key, class: "img-responsive" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
