<h1>Pooches Will all Go here</h1>

<ul class="container">
  <% @pooches.each do |pooch| %>
    <%= cl_image_tag pooch.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>

<%= link_to "Add a pooch", new_pooch_path %>
