<h1>Pooches Will all Go here</h1>
<br>
<br>

<section id="photos">
  <% @pooches.each do |pooch| %>
  <div class="container">
    <%= cl_image_tag pooch.photo.key, class: "image" %>
  </div>
  <div class="middle">
    <div class="text">
      <%= pooch.name %>
    </div>
  </div>
  <% end %>
</section>

<%= link_to "Add a pooch", new_pooch_path %>
