body {
  font-family: 'Kumbh Sans', sans-serif;
}



// Styling the logo

figure{
   width:100px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
figure img{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
}


.btn-primary {
  background-color: #8C5CFA !important;
  border: #8C5CFA !important;
}

// Styling the image grid using flexbox
#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;
  grid-gap:             1em;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

img {
  width: 100%;
  height: auto;
}

.pooch-listing {
  position: relative;
}

.pooch-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(80, 79, 77, 0.308);
  opacity: 0;
  transition: opacity .5s;
}

.pooch-photo {
  line-height: 0;
  margin-top: 1em;
}

.pooch-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(80, 79, 77, 0.308);

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.pooch-footer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.pooch-footer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* typographic styles */
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
    /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pooch-listing:hover .pooch-name {
  opacity: 1;
}

.pooch-listing:hover .pooch-footer {
  opacity: 1;
}


.pooch-photo img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
}

.pooch-listing:hover .pooch-photo img {
  filter: blur(2px);
}

// Navbar Avatar

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}


/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
